<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .navbar-div{ display: flex; flex-direction: row; gap:1rem; font-size:
      1.5rem; }
    </style>
  </head>
  <body>
    <div class="navbar-div">
      <div>
        <a href="/">Home</a>
      </div>
      <div>
        <a href="/about">About</a>
      </div>
      <div>
        <a href="/contact">Contact</a>
      </div>
    </div>
  </body>
</html>